.success_div {
   width: 400px;
   padding: 2rem;
   background: rgba(255, 255, 255, 0.28);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(16.9px);
   -webkit-backdrop-filter: blur(16.9px);
   border: 1px solid rgba(255, 255, 255, 0.3);
   position: relative;
}

.success_div img {
   margin: auto;
}
