@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --overlay-background: #00000088;
   --main-cl: #fff;
   --dark-cl: #000;
   --gray-cl: #e2e1e1e1;
   --light-smooth-gray: #ececec;
   --gray: #777;
   --blue-cl: #3f7ce6;
   --error: rgb(230, 63, 63);
   --dark-gray: #2f2d2b;
   --overlay-cl: #00000088;
   --smooth-gray: #d9d9d9;
   --light-green-cl: #439715;
   --light-gray: #525252;
}
