.main_div {
   margin-top: 6rem;
}

.item_card {
   width: 100%;
   padding: 2rem;
   border-radius: 5px;
   background-color: var(--smooth-gray-md-cl);
}

.img_div {
   margin-top: -100px;
}

.img_div p {
   max-width: 300px;
   margin: auto;
}
